body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #FFC107;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    color: #000;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}
.kayıt{
    margin-top: 20px;
    margin-right: 20px;
}
.tekrar{
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFC107;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #e0a800;
}
.toggle {
    text-align: center;
    margin-top: 10px;
}
.toggle a {
    color: #FFC107;
    text-decoration: none;
}